@media (min-width: 768px) {
    blockquote {
        margin-left: 40px !important;
        margin-right: 40px !important;
        padding: 0 40px 0 !important;
    }
    ul,
    ol {
        padding-left: 20px;
    }
    .main-navigation .toggle-submenu {
        display: block !important;
    }
    .hamburger {
        transform: scale(1)
    }
    .hamburger .label {
        display: inline
    }
    .pagination-wrapper .page-numbers {
        display: inline-block
    }
    body.home .mobile-hero-container {
        display: none;
    }
    body.home .hero-container {
        margin-left: auto;
        margin-right: auto;
        width: 100%
    }
    .author-card .avatar-container {
        float: left;
        margin-right: 40px
    }
    .author-card .author-info {
        width: calc(100% - 180px);
        float: left
    }
    .author-card header .h3 {
        text-align: left;
        margin-top: 0
    }
    .articles-wrapper {
        text-align: left
    }
    .article-card {
        width: calc(50% - 40px);
        margin: 0 20px 40px;
        float: left
    }
    .article-card.horizontal .image-container {
        float: left;
        margin-bottom: 0
    }
    .article-card.horizontal header p {
        text-align: left
    }
    .article-card.horizontal .copy-container {
        float: left;
        margin-left: 40px;
        width: calc(100% - 340px)
    }
    .article-card.horizontal.no-thumb .copy-container {
        float: none;
        margin-left: 0;
        width: 100%
    }
    .recent-articles-container {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px
    }
    body.single-theme_book_review .book-meta-container {
        float: right;
        width: 350px;
        padding-left: 20px;
        margin-left: 20px
    }
    .antibounce-card {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: left
    }
    .antibounce-card .copy-wrapper {
        width: calc(100% - 180px);
        margin: 0 0 30px 40px
    }
    .antibounce-card button {
        position: absolute;
        left: 180px;
        bottom: 10px;
        margin-bottom: 0
    }
    .site-branding {
        padding: 30px 0 20px
    }
    .site-branding {
        min-height: 80px
    }
    .site-branding img {
        height: auto;
        width: 240px;
        max-width: 100%
    }
}
